@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Food Collection and Delivery</h5>
                    <a href="@Url.Action("Filter", "NGO")" class="btn btn-primary btn-block">Go</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Show All Employee</h5>
                    <a href="@Url.Action("ShowAllEmployee", "NGO")" class="btn btn-primary btn-block">Go</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Hire Employee</h5>
                    <a href="@Url.Action("HireEmployee", "NGO")" class="btn btn-primary btn-block">Go</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Profile Settings</h5>
                    <a href="@Url.Action("EditProfile", "NGO")" class="btn btn-primary btn-block">Go</a>
                </div>
            </div>
        </div>
        <form action="@Url.Action("Logout", "Auth")" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger btn-block">Logout</button>
        </form>
    </div>
</div>
