@{
    ViewBag.Title = "My Portfolio";
}

<main>
    <section class="row" aria-labelledby="portfolioTitle">
        <h1 id="portfolioTitle">Welcome to My Portfolio</h1>
        <p class="lead">I'm passionate about creating amazing web experiences. Explore me!</p>
    </section>

    <div class="row">
        <section class="col-md-6" aria-labelledby="navigationTitle">
            <h2 id="navigationTitle">Navigation</h2>
            <ul>
                <li>@Html.ActionLink("Introduction", "Introduction", "Home")</li>
                <li>@Html.ActionLink("Education", "Education", "Home")</li>
                <li>@Html.ActionLink("Projects", "Projects", "Home")</li>
                <li>@Html.ActionLink("Reference", "Reference", "Home")</li>
                <li>@Html.ActionLink("Personal Information", "PersonalInformation", "Home")</li>              
            </ul>
        </section>


    </div>

    <section class="row" aria-labelledby="contactTitle">
        <h2 id="contactTitle">Contact Me</h2>
        <p>
            Interested in collaborating or have a project in mind? Feel free to reach out to me.
        </p>
        <p><a class="btn btn-primary btn-md" href="mailto:21-444991@student.aiub.edu.com">Contact Me &raquo;</a></p>
    </section>
</main>
